@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Petclinic</h1>
    <p>Aprender más sobre <a href="https://docs.microsoft.com/aspnet/core">Construir sitios web con ASP.NET CORE</a>.</p>
    <img src="~/images/pets.png" alt="Pets" />
</div>
